@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css");
body{
  margin: 0px;
  padding: 0px;
  font-family: Inter, Helvetica, Arial, sans-serif;
}
  *{
    box-sizing: border-box;
  }
button{
  width: 140px;
  height: 50px;
  display: flex;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: 20px;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  z-index: 3;
  &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0%;
      width: 200%;
      height: 100%;
      background: linear-gradient(to right, #D01498, #647ECB, #647ECB, #D01498);
      z-index: -1;
      transition: left 0.5s ease-in-out;
  }
  &:hover::before{
      left: -100%;
  }

  
}
@media (min-width: 280px) and (max-width: 450px) {
  *{
    scale: 1;
  }
  button{
    font-size: 12px;
    font-weight: 400;
    width: 85px;
    height: 40px;
    margin-top: 10px;
    margin-right: 10px;
  }
}
